body {background-image: url("https://static.vecteezy.com/system/resources/previews/006/852/804/original/abstract-blue-background-simple-design-for-your-website-free-vector.jpg")
    
    ;}
title {border-style: solid; border: 4px blueviolet;}

#num1 {text-align: center;
     font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
      font-size: x-large;
      border:4px solid rgb(80, 0, 170);
         background-color: rgb(118, 122, 232);}

.title {color: rgb(67, 1, 53);
    cursor: pointer;
    padding: 18px;
    transition: 0.4s;
    text-align: center;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
     font-size: 250%;
     border:4px solid rgb(80, 0, 170);
        background-color: rgb(118, 122, 232);}

        .active, .title:hover {
          background-color: #c6b5c3;
        }

.center {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 70%;
    max-width: 100%;
  }

.nextback {color: rgb(67, 1, 53);

  display: block;
    margin-left: auto;
    margin-right: auto;
    width: 10%;
  cursor: pointer;
  padding: 18px;
  transition: 0.4s;
  text-align: center;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
   font-size: 150%;
   border:4px solid rgb(80, 0, 170);
      background-color: rgb(118, 122, 232);}

      .active, .nextback:hover {
        background-color: #c6b5c3;
      }

a {text-decoration: none;
  color: rgb(67, 1, 53)
}